* {
    padding: 0;
    margin: 0;
    border-width: 0;
    text-decoration: none;
}

body {
    overflow: hidden;
    background-color: rgb(32,103,178);
}

.container-topo {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    vertical-align: top;
    color: white;
}

.t1 {
    font-size: 2.5em;
    font-weight: 50;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.p1 {
    font-size: 1.2em;
    font-weight: 100;
    padding-left: 0.3em;
}

.p2 {
    font-size: 0.8em;
    font-weight: 50;
    padding-left: 0.5em;
}

.button-custom {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 1;
}

.button-custom:hover {
    opacity: 0.7;
}

.icon-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77,167,221);
    width: 5em;
    height: 5em;
}

.icon-custom-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-right: 1em;
    width: 3em;
    height: 3em;
}

.text-custom {
    justify-content: start;
}
